<% if logged_in? %>
<%= link_to "New", "/posts/new" %>
<% end %>
<% if @posts.any? %>
<article>
   <header class="presentation">
      <% if @search_param != nil %>
      <h1>
         Query : <%= @search_param %>
      </h1>
      <% else %>
      <h1>
         All Posts
      </h1>
      <% end %>
   </header>
</article>
<% @posts.each do |p| %>
<%= link_to p.title, "/posts/" + p.slug %>
<p><%= p.description + " - " + p.created_at.to_formatted_s(:long_ordinal) %></p>
<hr/>
<% end %>
<%= will_paginate @posts %>
<% elsif @search_param != nil %>
<article>
   <header class="presentation">
      <h1>
         Searching for "<%= @search_param %>"
      </h1>
   </header>
   <section>
      <h4>
         Didn't found anything from your request :(
      </h4>
   </section>
   <footer>
      Was there supposed to be something ?
   </footer>
</article>
<% else %>
<article>
   <header class="presentation">
      <h4> Nothing here yet :( </h4>
   </header>
   <section>
      <p>
         Since the blog is new (or old, who cares ?), there is nothing to show yet, maybe an article in a few weeks, stay tuned.
      </p>
   </section>
   <footer>
      SOOOOOOOON..
   </footer>
</article>
<% end %>
