<article class="resume">
    <header>
        <%= image_tag "profile.png", class:"pp" %>
        <div class="legalinfos">
            <h2><%= t ".name" %> - <%= t ".function"%></h2>
            <p>Paris - France</p>
            <p><i><%= t ".age" %></i></p>
            <p><i><%= t ".contact" %> : <a href="https://norra.fr">norra.fr</a> <%= t ".or" %> <a href="mailto:marin.procureur@gmail.com">marin.procureur[at]gmail.com</a></i></p>
        </div>
    </header>
    <div class="separator h"></div>
    <section id="aboutme">
        <header>
            <h2><%= t ".aboutme" %></h2>
        </header>
        <%= t ".about.p1_html" %>
        <%= t ".about.p2_html" %>
        <%= t ".about.p3_html" %>
    </section>
    <div class="separator h"></div>
    <section id="experiences">
        <header>
            <h2><%= t ".xp" %></h2>
        </header>
        <article>
            <section>
                <header>
                    <h3>_blank - Belleville citoyenne</h3>
                    <p><i>11/2015 - <%= t ".today" %></i></p>
                </header>
                <p>
                    <b>
                      <%= t ".experiences.blank.title1" %>
                    </b>
                </p>
                <%= t ".experiences.blank.list1_html" %>
                <%= t ".experiences.blank.p1_html" %>
                <p>
                    <b>
                        <%= t ".experiences.blank.title2" %>
                    </b>
                </p>
                <%= t ".experiences.blank.list2_html" %>
                <%= t ".experiences.blank.p2_html" %>
            </section>
            <section>
                <header>
                    <h3>enioka - <a href="http://enioka.com">http://www.enioka.com</a></h3>
                    <p><i>08/2014 - 10/2016</i></p>
                </header>
                <p>
                    <b>
                        <%= t ".experiences.enioka.title1" %>
                    </b>
                </p>
                <%= t ".experiences.enioka.list1_html" %>
            </p>
            <p>
                <b>
                    <%= t ".experiences.enioka.title2" %>
                </b>
                <a href="http://itlivemaps.com">http://itlivemaps.com</a>
            </p>
            <%= t ".experiences.enioka.list2_html" %>
            </p>
            <p>
                <b>
                    <%= t ".experiences.enioka.title3" %>
                </b>
                <a href="https://github.com/enioka/ij.js">https://github.com/enioka/ij.js</a>
            </p>
            <%= t ".experiences.enioka.list3_html" %>
            </section>
            <section>
                <header>
                    <h3>Servier - <a href="http://servier.fr">http://servier.fr</a></h3>
                    <p><i>07/2013 - 10/2013</i></p>
                </header>
                <p>
                    <%= t ".experiences.servier.title1" %>
                </p>
                <%= t ".experiences.servier.list1_html" %>
            </section>
            <section>
                <header>
                    <h3>Docteur Souris - <a href="http://www.docteursouris.fr/">http://www.docteursouris.fr/</a></h3>
                    <p><i>02/2013 - 06/2013</i></p>
                </header>
                <p>
                  <%= t ".experiences.docteursouris.title1" %>
                </p>
                <%= t ".experiences.docteursouris.list1_html" %>
            </section>
        </article>
    </section>
    <div class="separator h"></div>
    <section id="projects">
        <header>
            <h2>Projects</h2>
        </header>
        <article>
            <section>
                <header>
                    <h3>_blank - <a href="http://blank.bellevillecitoyenne.fr">http://blank.bellevillecitoyenne.fr</a></h3>
                    <p><%= t ".projects.blank.title1" %></p>
                </header>
                <% t ".projects.blank.content_html" %>
            </section>
            <section>
                <header>
                    <h3>SHiELD Initiative - <a href="http://shieldup.fr">http://shieldup.fr</a></h3>
                    <p><%= t ".projects.shield.title1" %></p>
                </header>
                <% t ".projects.shield.content_html" %>
            </section>
            <section>
                <header>
                    <h3>ij.js - <a href="https://github.com/enioka/ij.js">https://github.com/enioka/ij.js</a></h3>
                    <p><%= t ".projects.ijjs.title1" %></p>
                </header>
                <% t ".projects.,ijjs.content_html" %>
            </section>
            <section>
                <header>
                    <h3>SYC (Search for Your Content) - <a href="https://github.com/lucasbedout/search-engine">https://github.com/lucasbedout/search-engine</a></h3>
                    <p><%= t ".projects.syc.title1" %></p>
                </header>
                <% t ".projects.syc.content_html" %>
            </section>
        </article>
    </section>
    <div class="separator h"></div>
    <section id="formation">
        <header>
          <h2>
            <%= t ".training.title" %>
          </h2>
        </header>
        <article>
            <section>
                <header>
                  <h2>
                    <%= t ".training.subtitle1" %>
                    </h2>
                </header>
                <%= t ".training.training1_html" %>
            </section>
            <section>
                <header>
                    <h2>
                      <%= t ".training.subtitle2" %>
                    </h2>
                </header>
                <%= t ".training.competencies.p1_html" %>
                <%= t ".training.competencies.list1_html" %>
                <%= t ".training.competencies.p2_html" %>
                <%= t ".training.competencies.list2_html" %>
            </section>
        </article>
    </section>
    <div class="separator h"></div>
    <section id="More">
        <header>
            <h2>
                <%= t ".more.title" %>
            </h2>
        </header>
        <article>
            <section>
                <header>
                    <h3><%= t ".more.subtitle1" %></h3>
                </header>
                <%= t ".more.content1_html" %>
            </section>
            <section>
                <header>
                    <h3><%= t ".more.subtitle2" %></h3>
                </header>
                <%= t ".more.content2_html" %>
            </section>
            <section>
                <header>
                    <h3><%= t ".more.subtitle3" %></h3>
                </header>
                <%= t ".more.content3_html" %>
            </section>
            <section>
                <header>
                    <h3><%= t ".more.subtitle4" %></h3>
                </header>
                <%= t ".more.content4_html" %>
            </section>
            <section>
                <header>
                    <h3><%= t ".more.subtitle5" %></h3>
                </header>
                <%= t ".more.content5_html" %>
            </section>
        </article>
    </section>
</article>
