<% if params[:format].eql? "md" %>
<%= simple_format @post.title %>
<%= simple_format @post.created_at.to_formatted_s(:long_ordinal)%>
<%= simple_format @post.description %>
<%= simple_format @post.content %>
<% else %>
<%= link_to 'Back', '/blog', class:'back' %>
<% if logged_in? %>
<%= link_to 'Edit', '/posts/' + @post.slug + "/edit", class:"edit" %>
<% end %>
<article>
   <header>
      <h1>
         <%= @post.title %>
      </h1>
      <p class="date">
         <%= @post.created_at.to_formatted_s(:long_ordinal)%>
      </p>
      <p>
         <%= @post.description %>
      </p>
   </header>
   <section>
      <%= markdown @post.content %>
   </section>
   <footer>
      <p>
         Written with love... Oh and here are the comments :
      </p>
      <br/>
   </footer>
   <div id="disqus_thread"></div>
   <script>
      var disqus_config = function () {
      this.page.url = "<%= request.original_url %>";
      this.page.identifier = "<%= @post.title%>";
      };
      (function() {  // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//norra.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
   </script>
   <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>
<% end %>
