<div class="left-pan">
   <label id="label-nav-checkbox" for="nav-checkbox"><i class="fa fa-bars" aria-hidden="true"></i></label>
   <input type="checkbox" id="nav-checkbox"/>
   <ul class="nav">
      <li class="element">
         <%= image_tag "profile.png", class:"pp" %>
         <p class="nav-title">Marin Procureur</p>
      </li>
      <li class="element">
         <%= form_tag "/blog", method: :get do %>
         <%= text_field_tag :search, params[:search], placeholder:"Search", id:"search" %>
         <% end %>
      </li>
      <li class="element">
         <%= link_to "Home", root_url %>
      </li>
      <li class="element">
         <%= link_to "About Me", "/aboutme" %>
      </li>
      <li class="element">
         <%= link_to "Blog", "/blog" %>
      </li>
      <li class="element">
         <%= link_to "Resume", "/resume" %>
      </li>
      <li class="element">
         <%= link_to "Contact", "/contact" %>
      </li>
      <li class="element">
         <%= link_to "Projects", "/projects" %>
      </li>
      <li class="element socials">
         <ul class="actions">
            <li class="social">
               <a href="https://fr.linkedin.com/in/marin-procureur-2a7b3662">
                  <i class="fa fa-linkedin"></i>
               </a>
            </li>
            <li class="social">
               <a href="https://github.com/FaXaq">
                  <i class="fa fa-github"></i>
               </a>
            </li><li class="social">
               <a href="mailto:contact@norra.fr">
                  <i class="fa fa-envelope"></i>
               </a>
            </li>
         </ul>
      </li>
      <% if logged_in? %>
      <li class="element">
         <%= button_to "Log out", { :controller => :session, :action => :destroy }, method: :delete %>
      </li>
      <% end %>
   </ul>
</div>
