<!DOCTYPE html>
<html>
   <head>
      <title>Website</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
   </head>
   <body>
      <div class="container inner">
         <%= render "nav" %>
         <div class="main">
            <%= yield %>
         </div>
      </div>
      <script id="dsq-count-scr" src="//norra.disqus.com/count.js" async></script>
   </body>
</html>
