<!DOCTYPE html>
<html>
   <head>
      <title>Website</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
   </head>
   <body>
      <div class="container inner">
         <%= render "nav" %>
         <div class="main">
            <%= yield %>
         </div>
      </div>
      <ul id="flash-list">
         <% if flash.count > 0 %>
         <% flash.each do |k,m| %>
         <li class="flash <%= k %>">
            <p class="<%= k %>">
               <%= m %>
            </p>
         </li>
      <% end %>
      <% end %>
      </ul>
      <script id="dsq-count-scr" src="//norra.disqus.com/count.js" async></script>
      <script type="text/javascript">
         var e = document.getElementById("flash-list");
         e.addEventListener("click",function(t) {
         console.log(t);
         t.target.classList.add("hidden");
         });
      </script>
   </body>
</html>
